/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 97, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 111, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
body {
  line-height: 1;
}

/* line 115, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
ol,
ul {
  list-style: none;
}

/* line 120, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
blockquote,
q {
  quotes: none;
}

/* line 125, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 133, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 139, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
.cenas {
  text-align: center;
  font-size: 120px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ff0000;
  font-style: italic;
}

/* line 152, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
#confetti {
  background: #000;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

/* line 162, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
p {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: lawngreen;
  }
  50% {
    color: deeppink;
  }
  100% {
    color: orange;
  }
}

@-moz-keyframes color-change {
  0% {
    color: lawngreen;
  }
  50% {
    color: deeppink;
  }
  100% {
    color: orange;
  }
}

@-ms-keyframes color-change {
  /* line 191, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
  p 0% {
    color: lawngreen;
  }
  /* line 194, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
  p 50% {
    color: deeppink;
  }
  /* line 197, C:/Users/luis_/Desktop/github/luisraferreira.github.io/scss/index.scss */
  p 100% {
    color: orange;
  }
}

@-o-keyframes color-change {
  0% {
    color: lawngreen;
  }
  50% {
    color: deeppink;
  }
  100% {
    color: orange;
  }
}

@keyframes color-change {
  0% {
    color: lawngreen;
  }
  50% {
    color: deeppink;
  }
  100% {
    color: orange;
  }
}

/*# sourceMappingURL=../css/index.map */